<div id="footer" class="cz-color-16777215">
  <div class="footerbgtrap cz-color-16777215">
    <div class="content cz-color-16777215">
      <div class="container cz-color-16777215">
        <div style="margin-left:350px;" class="cz-color-16777215">
          <img src="http://linguistech.ca/styles/linguistech/linguistech_logo_footer_fr.png" class="cz-color-16777215">
        </div>

        <div id="custom_site_footer" class="cz-color-16777215">
          <div style="float:left;" class="cz-color-16777215">
            &Acirc;&copy; 2011 <a href="http://www.crtl.ca" target="_blank" class="cz-color-14937583">CRTL</a> &acirc;&euro;&ldquo; LTRC. Tous droits r&Atilde;&copy;serv&Atilde;&copy;s. Powered by <a href="http://www.tiki.org" target="_blank" class="cz-color-14937583">Tiki Wiki CMS Groupware</a>.
          </div>

          <div style="float:right; font-size:16px;" class="cz-color-16777215">
            <b class="cz-color-16777215"><a href="http://linguistech.ca/Aide+-+accueil" class="cz-color-14937583">Aide</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="http://linguistech.ca/%20About+us+-+fr" class="cz-color-14937583">Qui sommes-nous</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="http://linguistech.ca/Contact" class="cz-color-14937583">Nous contacter</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="http://linguistech.ca/Modalites" class="cz-color-14937583">Modalit&Atilde;&copy;s</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="http://linguistech.ca/Plan+du+site" class="cz-color-14937583">Plan</a></b>
          </div>
        </div>

        <div id="power" class="cz-color-16777215"></div>

        <div id="credits_svnrev" class="cz-color-16777215">
          <div id="credits" class="cz-color-16777215">
            Th&Atilde;&uml;me: Linguistech
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
